<div class="row justify-content-center mb-4">
    <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="https://leibniz-psychology.org/en/profile-kai-sassenberg" target="_blank">
            <img class="speaker-pic img-fluid mb-2" src="{{ "/assets/img/ksa_klein.jpg" | prepend:site.baseurl }}">
        </a>
        <div class="speaker-name text-center">
            <a href="https://leibniz-psychology.org/en/profile-kai-sassenberg">Kai Sassenberg</a>
            <h6>Leibniz-Institut für Psychologie (ZPID)</h6>
        </div>
    </div>
</div>
